.rectangle-8-5 {
  height: 558px;
  width: 1440px;
  background-color: ;
}

.group-1-8-8 {
  height: 529px;
  width: 973px;
}
.img {
  height: 529px;
  width: 316px;
}
.group-1-8-7 {
  height: 390px;
  width: 541px;
}
.group-1-8-5 {
  height: 188px;
  width: 538px;
}
.text {
  text-align: left;
  vertical-align: top;
  font-size: 18px;
  font-family: Rubik;
  line-height: 30%;
  color: #ffffff;
}
.text {
  text-align: left;
  vertical-align: top;
  font-size: 14px;
  font-family: Rubik;
  line-height: 30%;
  color: #ffffff;
}
.group-1-8-7 {
  height: 50px;
  width: 538px;
}
. {

}
. {

}
. {

}
.text {
  text-align: left;
  vertical-align: top;
  font-size: 16px;
  font-family: Rubik;
  line-height: auto;
  color: #ffffff;
}
.text {
  text-align: left;
  vertical-align: top;
  font-size: 14px;
  font-family: Rubik;
  line-height: 22%;
  color: #b7b7b7;
}
.text {
  text-align: left;
  vertical-align: top;
  font-size: 14px;
  font-family: Rubik;
  line-height: 22%;
  color: #b7b7b7;
}
.text {
  text-align: left;
  vertical-align: top;
  font-size: 55px;
  font-family: Rubik;
  line-height: auto;
  color: #ffffff;
}
.group-3 {
  height: 42px;
  width: 142px;
}
.text {
  text-align: left;
  vertical-align: top;
  font-size: 35px;
  font-family: Comfortaa;
  letter-spacing: -5%;
  line-height: auto;
  color: #ffffff;
}
. {

}
.layer-2 {
  transform: rotate(-180deg);
  height: 28px;
  width: 31px;
}
.img {
  transform: rotate(-180deg);
  height: 28px;
  width: 31px;
}